@import "tailwindcss";
@plugin "daisyui" {
  themes: synthwave --default;
}

.rotate-enter-active,
.rotate-leave-active {
  transition: all 0.4s;
}
.rotate-enter-from,
.rotate-leave-to {
  opacity: 0;
  transform: rotate3d(0.5, 1, 0, 180deg);
}

.slideup-enter-active,
.slideup-leave-active {
  transition: all 0.4s ease;
}
.slideup-enter-from,
.slideup-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

body {
  background-color: #79d279;
}
